<!DOCTYPE html>

<html>
<head>
    


</head>









<body style="padding-top: 30rem;" class="dx-viewport">












    <main role="main" class="container">

        @RenderBody()
    </main>
</body>

</html>