<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel</title>
</head>
<body>








    <select id="Select1">
        <option>test</option>

    </select>



    test123


    <hr />

    <div></div>










</body>
</html>



@using (Html.BeginForm())
{
    @Html.Action("GanttPartial2")
}
